<div class="conter-wrapper">
	<div class="container-fluid home-page col-md-12">
		<br>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Clubs</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="club in clubs">
							<td>{{ club.name }}</td>
							<td>
								<button type="button" class="btn btn-info btn-circle btn-lg" ng-click="editClub(club)"><i class="fa fa-edit"></i></button>
								<button type="button" class="btn btn-danger btn-circle btn-lg" ng-click="deleteClub(club)"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<button type="button" class="btn btn-primary btn-circle btn-lg" ng-click="createClub()"><i class="fa fa-cube"></i></button>
			</div>
		</div>
	</div>
	<div>
		<script type="text/ng-template" id="confirmDeleteClub.html">
			<div class="modal-header">
				<h3 class="modal-title">{{ title }}</div>
			</div>
			<div class="modal-body">
				<div class="high-padding text-center">{{ text }}</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default btn-rounded" ng-click="cancel()">Cancel</button>
				<button class="btn btn-primary btn-rounded" ng-click="ok()">Ok</button>
			</div>
		</script>
		<script type="text/ng-template" id="editClub.html">
			<div class="modal-header">
				<h3 class="modal-title">{{ title }}</div>
			</div>
			<div class="modal-body">
				<div class="panel panel-info>
					<div class="panel-body">
						<form>
							<div class="form-group">
								<label form="clubName">Name</label>
								<input type="text" class="form-control" id="clubName" placeholder="Enter club name" ng-model="item.name">
								<label form="clubWebpage">Web page</label>
								<input type="text" class="form-control" id="clubWebpage" placeholder="Enter club webpage" ng-model="item.webpage">
								<label form="clubLocation">Location</label>
								<input type="text" class="form-control" id="clubLocation" placeholder="Enter club location" ng-model="item.location">
							</div>
							<div class="form-group">
								<label for="clubActive">Is active</label>
								<br>
								<div class="onoffswitch">
									<input type="checkbox" name="clubActive" class="onoffswitch-checkbox" id="clubActive" ng-model="item.active">
									<label class="onoffswitch-label" for="clubActive">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default btn-rounded" ng-click="cancel()">Cancel</button>
				<button class="btn btn-primary btn-rounded" ng-click="ok()">Ok</button>
			</div>
		</script>
	</div>
</div>